{% doc %}
  Renders a reasons to join section for affiliate page 
{% enddoc %}

<div class="section-reasons qure__section" style="--section-padding-top: 60px; --section-padding-bottom: 60px; --section-padding-top-mob: 50px; --section-padding-bottom-mob: 30px;">
    <div class="container" style="--column-gap:32px; --column-gap-mobile:16px;">
        {% if section.settings.heading != blank %}
            <h2 class="qure__section-heading mb-md-50 mb-30 text-md-center">{{ section.settings.heading }}</h2>
        {% endif %}
        <div class="row custom__grid">
            {% for block in section.blocks %}
                {% if block.type == 'text_with_image' %}
                    <div class="col-md-6 custom__block">
                        <div class="reward-card p-md-24 px-16 py-24 bg-light rounded-5 d-flex align-items-center gap-5">
                            <div class="reward-icon d-flex align-items-center">
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" />
                                {% endif %}
                            </div>
                            <div class="reward-content">
                                {% if block.settings.heading != blank %}
                                    <h5 class="fm-body fs-18 fw-600">{{ block.settings.heading }}</h5>
                                {% endif %}
                                {% if block.settings.text != blank %}
                                    <p class="fs-16">{{ block.settings.text }}</p>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.affiliate-page-resons-to-join.name",
  "settings": [
   {
        "type": "text",
        "id": "heading",
        "label": "t:common.header"
   }
  ],
  "blocks": [
    {
        "type": "text_with_image",
        "name": "t:common.text-with-image",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.header"
            },
            {
                "type": "text",
                "id": "text",
                "label": "t:common.text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:common.image"
            }   
        ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.affiliate-page-resons-to-join.name"
    }
  ]
}
{% endschema %}